<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head'); %>

<body class="container">
  <%- include('../partials/header', {pagina:'sobre'}); %>
<main>
  <div class="jumbotron"></div>
  <h1>Sobre mim</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto dignissimos quis velit, esse quo dolores nemo, aut eligendi excepturi provident eius. Dolores error reprehenderit dolorum dicta nisi officia debitis doloremque!</p>
</main>

  <%- include('../partials/footer'); %>
</body>

</html>